<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">Hakkımda</span>
                <h1 class="mb-4 title">
                    Hello, <span class="type-js"><span class="text-js">I’m Mike Tyson</span></span><br>
                    I’m working as UI/UX Designer.
                </h1>
                <p class="mx-lg-5">
                    I love <strong>Graphic design</strong> and <strong>Photography</strong> and have been working on my portfolio since 2016.
                    I Can give your business a new Creative start right away!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
            <ul class="follow-social">
                <li><p>Follow me </p></li>
                <li><a href="#url"><span class="fa fa-behance"></span></a></li>
                <li><a href="#url"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#url"><span class="fa fa-facebook-official"></span></a></li>
                <li><a href="#url"><span class="fa fa-twitter"></span></a></li>
            </ul>
        </div>
    </div>
</section>
