<div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div class="modal__content">
                    <a class="navbar-brand"> <span>Murat Yücedağ</span></a>
                    <!-- if logo is image enable this
                      <h2 class="logo">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                      </h2> -->
                    <p class="mt-md-3 mt-2">
                        Yazılım geliştirme, mühendislik, eğitim, deneyim, danışmanlık, proje ve daha fazlası...
                    </p>

                    <img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid mt-5">

                    <div class="widget-social-icons mt-sm-5 mt-4">
                        <ul class="icon-rounded address">
                            <li class="mt-3">
                                <p><a href="tel:+404-11-22-89">+90-500-345-22-33</a></p>
                            </li>
                            <li class="mt-2">
                                <p><a href="mailto:design@portfolio.com">yucedagmurat23@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-social-icons mt-sm-5 mt-4">
                        <ul class="follow-social">
                            <li><a href="#url"><span class="fa fa-behance"></span></a></li>
                            <li><a href="#url"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#url"><span class="fa fa-facebook-official"></span></a></li>
                            <li><a href="#url"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <!-- //modal-content -->
    </div>
    <!-- //modal-dialog -->
</div>
