<section class="w3l-homeblock3" id="awards">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Ödüllerim & Başarılarım</span>
                    <h3 class="title-big">
                        Professional awards and
                        honors <span> I’ve reached.</span>
                    </h3>
                    <p class="mt-4">
                        Personal awards. Having O7 Years of Experience that Motivated by the Desire to
                        achieve Success
                    </p>
                    <div class="reward-list mt-5">
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Web design awards</span>
                                <p class="reward-item-descr">For Best UX/UI Design App</p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="~/Templates/iportfolio-starter/assets/images/skills.png" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Inovative ideas design Awards</span>
                                <p class="reward-item-descr">For Most Loved Illustration </p>
                            </div>
                        </div>
                        <div class="reward-item">
                            <div class="reward-item-photo"><img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid"></div>
                            <div class="reward-item-detail">
                                <span class="reward-item-title">Creative Design awards</span>
                                <p class="reward-item-descr">For Best UX/UI Project Design</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self mt-lg-0 mt-md-5 mt-4">
                    <div class="position-relative px-lg-5 mx-lg-0 mx-md-5 image-padding">
                        <img src="~/Templates/iportfolio-starter/assets/images/awards.png" alt="" class="radius-image img-fluid">
                        <div class="position-absolute-images">
                            <img src="~/Templates/iportfolio-starter/assets/images/award.png" class="img-fluid pos-img" alt="" />
                            <img src="~/Templates/iportfolio-starter/assets/images/award1.png" class="img-fluid pos-img1" alt="" />
                            <img src="~/Templates/iportfolio-starter/assets/images/award2.png" class="img-fluid pos-img2" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
