<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke">
            <a class="navbar-brand" href="index.html">
                <span> Asp.Net Mvc5</span>
            </a>
            <!-- if logo is image enable this
              <a class="navbar-brand" href="#index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
              </a> -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
                <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Ana Sayfa </a>
                    </li>
                    <li class="nav-item portfolio__active">
                        <a class="nav-link" href="portfolio.html">Projelerim</a>
                    </li>
                    <li class="nav-item c__active">
                        <a class="nav-link" href="contact.html">Bana Yazın</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <div class="popup ml-auto">
                    <a href="#menu" class="domain" data-toggle="modal" data-target="#DomainModal">
                        <div class="hamburger">
                            <span class="top-bar"></span>
                            <span class="middle-bar"></span>
                            <span class="bottom-bar"></span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position ml-lg-2">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>

<div class="header-gap">

</div>