
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Hizmet Ekleme Sayfası</h2>

<form method="post">
    <label>Hizmet Başlığını Giriniz</label>
    <input type="text" name="ServiceName" class="form-control" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>