
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı Soyadı</label>
    <input type="text" class="form-control" />
    <br />
    <label>Referans Unvan</label>
    <input type="text" class="form-control" />
    <br />
    <label>Referans Görseli</label>
    <input type="text" class="form-control" />
    <br />
    <label>Referans Yorumu</label>
    <textarea class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Referansı Ekle</button>
</form>