
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeteneklerim</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Scrum Master</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Agile Geliştirme</td>
    </tr>
</table>